name: split-pro-dev

services:
  postgres:
    image: ossapps/postgres:17.7-trixie
    container_name: ${POSTGRES_CONTAINER_NAME:-splitpro-db}
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-splitpro}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_DB=${POSTGRES_DB:-splitpro}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
    volumes:
      - database:/var/lib/postgresql/data
    command: >
      postgres
      -c shared_preload_libraries=pg_cron
      -c cron.database_name=${POSTGRES_DB:-splitpro}
      -c cron.timezone=UTC
    ports:
      - '${POSTGRES_PORT:-5432}:${POSTGRES_PORT:-5432}'

volumes:
  database:
  uploads:
