name: Check

on:
  - push
  - pull_request

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      SKIP_ENV_VALIDATION: true
      DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/postgres"
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: generate typedSQL types
        run: pnpm db:dev
        run: pnpm generate --sql

      - name: Check code formatting
        run: pnpm prettier --check .

      - name: Run tsc
        run: pnpm tsc --noEmit

      - name: Run lint
        run: pnpm lint

      - name: Run tests
        run: pnpm test

      - name: Run build
        run: pnpm build --no-lint
